@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #ed213a, #93291e);
    --background: -8 55.25% 4.24%;
    --foreground: -8 8.5% 97.65%;
    --muted: -8 42.5% 15.9%;
    --muted-foreground: -8 8.5% 55.3%;
    --popover: -8 48% 6.890000000000001%;
    --popover-foreground: -8 8.5% 97.65%;
    --card: -8 48% 6.890000000000001%;
    --card-foreground: -8 8.5% 97.65%;
    --border: -8 42.5% 15.9%;
    --input: -8 42.5% 15.9%;
    --primary: -8 85% 53%;
    --primary-foreground: -8 8.5% 5.300000000000001%;
    --secondary: -8 42.5% 15.9%;
    --secondary-foreground: -8 8.5% 97.65%;
    --accent: -8 42.5% 15.9%;
    --accent-foreground: -8 8.5% 97.65%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -8 8.5% 97.65%;
    --ring: -8 85% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
